<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/iconfonts.css">
  <title>Document</title>
</head>
<body>
  <div style="display: none;">
    <svg xmlns="http://www.w3.org/2000/svg">
      <symbol id="radio-circle-icon" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em">
        <path d="M5,12c0,3.859,3.14,7,7,7c3.859,0,7-3.141,7-7s-3.141-7-7-7C8.14,5,5,8.141,5,12z M17,12c0,2.757-2.243,5-5,5s-5-2.243-5-5 s2.243-5,5-5S17,9.243,17,12z"/>
      </symbol>
    </svg>
  </div>
  <main class="artboard page2">
    <div class="left-box">
      <div class="logo-placeholder">Spiritual Hippie</div>
      <div class="left">
        <div class="top-buttons">
          <div class="shipping web-btn" id="shipping">SHIPPING</div>
          <div class="payment web-btn" id="payment">PAYMENT</div>
        </div>
        <div class="input-ui">
            <div>Shipping Method</div>
            <input type="text" placeholder="Secured Shipping" id="shipping-method">
            <svg class="svg-icon circle1">
              <use href="#radio-circle-icon" />
            </svg>
        </div>
        <div class="input-ui">
            <div>Billing Address</div>
            <input type="text" placeholder="Same as shipping address" id="shipping-address">
            <svg class="svg-icon circle1">
              <use href="#radio-circle-icon" />
            </svg>
            <input type="text" placeholder="Use a different billing address" id="billing-address">
        </div>
        <div class="input-ui">
            <div>Payment</div>
            <p>All transactions are secured and encrypted</p>
            <input type="text" placeholder="Credit Card" id="credit-card">
            <svg class="svg-icon circle2">
              <use href="#radio-circle-icon" />
            </svg>
            <input type="text" placeholder="Card number" class="pad ht">
            <input type="text" placeholder="Name on the card" class="pad ht">
            <div class="flex1 pad">
              <input type="text" placeholder="Month" class="ht">
              <input type="text" placeholder="Year" class="ht">
              <input type="text" placeholder="Security Code" class="ht">
            </div>
            <div class="input paypal-input"><img src="/assets/paypal-icon@2x.png" alt="paypal"></div>
            <svg class="svg-icon circle3">
              <use href="#radio-circle-icon" />
            </svg>
        </div>
        <span class="custom-button web-btn" id="complete-order">COMPLETE ORDER</span>
        <picture class="page2-picture">
          <img src="/assets/Guaranteed_two@2x.png" alt="guaranteed two">
        </picture>
      </div>
    </div>
    <div class="right-box">
      <div class="right">
        <div class="rect-1920">
          <div class="grp-11232">
              <div class="img-11232">
                <img src="/assets/BandanaSpiritualEdited_500x500.png" alt="Bandana Spiritual Edited">
              </div>
            <div>
              <p>
              Vibe With These <br/> Face Shields!
              </p>
              <div class="price"><span class="original-price">&#36;24.99</span> <span class="current-price">&#36;6.95</span></div>
            </div>
          </div>
          <div class="add-order-btn">
            <span class="rect-1922"></span>
            ADD TO MY ORDER
          </div>
        </div>

        <div class="item bottom-border">
          <div class="img-11234">
            <img src="/assets/Yin Yang Mandala 1@2x.png" alt="Yin Yang Mandala 1">
            <img src="/assets/quantity@2x.png" alt="quantity" class="quantity">
          </div>
          <div class="details">
            <p class="product-name">Yin Yang Mandala</p>
            <p class="product-description">Women's Aqua Barefoot Shoes</p>
            <ul class="other-details">
              <li>Black Sole</li>
              <li>US 9-10</li>
              <li>EU40-41</li>
            </ul>
          </div>
          <div class="price">
            <span class="original">$35.00</span>
            <span class="current hot">FREE</span>
          </div>
        </div>

        <div class="item bottom-border">
          <div class="img-11234">
            <img src="/assets/Yin Yang Mandala 1@2x.png" alt="Yin Yang Mandala 1">
            <img src="/assets/quantity@2x.png" alt="quantity" class="quantity">
          </div>
          <div class="details">
            <p class="product-name">Yin Yang Mandala</p>
            <p class="product-description">Women's Aqua Barefoot Shoes</p>
            <ul class="other-details">
              <li>Black Sole</li>
              <li>US 9-10</li>
              <li>EU40-41</li>
            </ul>
          </div>
          <div class="price">
            <span class="current">$35.00</span>
          </div>
        </div>
        <div class="item bottom-border">
          <div class="img-11234">
            <img src="assets/Watercolor Flowers 1@2x.png" alt="Watercolor Flowers 1">
            <img src="/assets/Group 11163@2x.png" alt="quantity" class="quantity">
          </div>
          <div class="details">
            <p class="product-name">Watercolor Flowers</p>
            <p class="product-description">Women's Aqua Barefoot Shoes</p>
            <ul class="other-details">
              <li>Black Sole</li>
              <li>US 9-10</li>
              <li>EU40-41</li>
            </ul>
          </div>
          <div class="price">
            <span class="current">$35.00</span>
          </div>
        </div>

        <div class="item bottom-border">
          <div class="img-11234">
            <img src="/assets/Copy of Free Mystery Gift 1@2x.png" alt="Copy of Free Mystery Gift 1">
            <img src="/assets/quantity@2x.png" alt="quantity" class="quantity">
          </div>
          <div class="details">
            <p class="product-name">Copy of Free Mystery Gift</p>
            <ul class="other-details">
              <li>Free Gift</li>
              <li>Vibrant Vibes</li>
              <li>One Size</li>
            </ul>
          </div>
          <div class="price">
            <span class="current">$0.00</span>
          </div>
        </div>

        <div class="item bottom-border">
          <div class="img-11234">
            <img src="/assets/Safeguard - Shipping Guarantee 1@2x.png" alt="Safeguard - Shipping Guarantee">
            <img src="/assets/quantity@2x.png" alt="quantity" class="quantity">
          </div>
          <div class="details">
            <p class="product-name">Safeguard - Shipping Guarantee</p>
            <p class="product-description">Safeguard shipping guarantee</p>
            <ul class="other-details">
              <li>0.98</li>
            </ul>
          </div>
          <div class="price">
            <span class="current">$0.98</span>
          </div>
        </div>
        <div class="bottom-border h-grid">
          <div class="rect-1923">
            <input type="text" placeholder="Woohoo! Congrats!">
            <span class="apply">APPLY</span>
          </div>
          <span id="tag">
            <i class="icofont-tags"></i>
            <span>BOGO</span>
            <i class="icofont-close"></i>
          </span>
        </div>
        <div class="bottom-border charges border-override">
          <div class="subtotal">
            <div>Subtotal</div>
            <div>$105.98</div>
          </div>
          <div class="charge-reduction">
            <div class="discount-label">
              <span>
                Discount
              </span>
              <span id="tag2">
                <i class="icofont-tags"></i>
                <span>BOGO</span>
              </span>
            </div>
            <div>-$35.00</div>
          </div>
          <div class="shipping-charges">
            <div>Shipping</div>
            <div>Calculated at next step</div>
          </div>
        </div>
        <div class="total">
            <div>Total</div>
            <div><span>USD</span>$70.98</div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-logo">Spiritual Hippie</div>
    <ul class="footer-nav">
      <li>Support</li>
      <li>Track Order</li>
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
    </ul>
  </footer>
  <div class="overlay" id="overlay">
    <div class="pop-up-container">
      <p>Your Payment Method was declined. <br/> Please try another Payment Method.</p>
      <div class="web-btn ATC" id="try-again-btn"><img src="/assets/ATC@2x.png" alt="ATC"></div>
      <div class="x-button" id="x-btn">
        <img src="/assets/X button@2x.png" alt="x button"/>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>